.button {
  display: flex;
  justify-items: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(39, 39, 39, 1);
  border-radius: 100px;
  font-size: 17px;
  align-self: flex-start;
}

@media (prefers-color-scheme: light) {
 .button {
    background-color: white;
    border: 1px solid #3EEAD5;
 }

}

.button img {
  margin-bottom: 0;
  margin-left: 20px;
  transition-duration: 0.2s;
}

.button:hover img{
  transform: translateX(5px);
}

.stickyButton {
  position: sticky;
  bottom: 50px;
  margin-top: 50px;
  font-size: 18px;
  justify-self: center;
  align-self: center;
}
