.nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;

  @media (prefers-color-scheme: light) {
    background: rgba(0, 0, 0, 0.1);
  }
}

.linkLogo {
  margin-left: 10px;

  @media (prefers-color-scheme: light) {
    filter: invert(1);
  }
}