.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  margin-bottom: 0;
}

.introLogo {
  margin-bottom: 100px;
  width: 100%;
}

.heading {
  margin-bottom: 40px;
}

.main section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.main section + section {
  margin-bottom: 100px;
}

.main article {
  padding: 50px;
  background-color: rgba(16, 16, 16, 100);
}

.main article + article {
  margin-top: 50px;
}

.main article img {
  margin-bottom: 20px;
}

.main article hr {
  background-color: white;
  height: 1px;
  border: none;
  margin: 40px 0;
}

.introImage1 {
  mix-blend-mode: multiply;
  position: fixed;
  margin-left: -320px;
  z-index: -1;
  top: 310px;
}

.introImage2 { 
  mix-blend-mode: multiply;
  position: fixed;
  margin-left: 460px;
  z-index: -1;
  top: 60px;
}

@media (prefers-reduced-motion) {}

@media (max-width: 700px) {
  .intro {
    padding-top: 50px;
  }

  .introImage1 {
    left: -180px;
    top: 310px;
    margin-left: 0;
    
    }

  .introImage2 { 
    right: -270px;  
    top: 60px;
  }

  .introLogo {
    margin-bottom: 50px;
  }

  .main article {
    padding: 25px;
  }
}

@media (prefers-color-scheme: light) {

  
  .introImage1, .introImage2 {
    mix-blend-mode: soft-light;
  }

  .main hr {
    background-color: black;
  }

  .main article hr {
    background-color: black;
  }

  .main article {
    background-color: white;
  }
}